argcomplete==3.6.2
asttokens==3.0.0
attrs==25.3.0
black==25.1.0
click==8.2.1
colorama==0.4.6
coverage==7.9.2
decorator==5.2.1
deptry==0.23.0
execnet==2.1.1
executing==2.2.0
hypothesis==6.135.26
icecream==2.1.5
iniconfig==2.1.0
ipython==8.37.0
jedi==0.19.2
markdown-it-py==3.0.0
matplotlib-inline==0.1.7
mdurl==0.1.2
mypy==1.16.1
mypy-extensions==1.1.0
packaging==25.0
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
platformdirs==4.3.8
pluggy==1.6.0
prompt-toolkit==3.0.51
ptyprocess==0.7.0
pure-eval==0.2.3
pyclean==3.1.0
pygments==2.19.2
pytest==8.4.1
pytest-asyncio==0.26.0
pytest-cov==6.2.1
pytest-datafiles==3.0.0
pytest-xdist==3.8.0
requirements-parser==0.13.0
rich==13.9.4
ruff==0.12.2
sortedcontainers==2.4.0
stack-data==0.6.3
tinydb==4.8.2
traitlets==5.14.3
typing-extensions==4.14.1
wcwidth==0.2.13
